@{
    ViewData["title"] = "Modificar tablero";
}

@model ModificarTableroVM

<section class="container mt-4">
    <article class="row justify-content-center">
        <section class="col-md-6">
            <header class="bg-primary text-white text-center py-3 rounded-top">
                <h2>Modificar Tablero</h2>
            </header>

            <form asp-controller="Tablero" asp-action="ModificarTablero" method="post" class="p-4 border rounded-bottom shadow-lg bg-white">
                <input hidden asp-for="@Model.IdTablero">
                <input hidden asp-for="@Model.TableroModificar.IdTablero">
                <input hidden asp-for="@Model.TableroModificar.IdUsuarioPropietario">

                <fieldset class="mb-3">
                    <label asp-for="@Model.TableroModificar.Nombre" class="form-label">Nombre del Tablero</label>
                    <input asp-for="@Model.TableroModificar.Nombre" type="text" class="form-control" required>
                </fieldset>

                <fieldset class="mb-3">
                    <label asp-for="@Model.TableroModificar.Descripcion" class="form-label">Descripción</label>
                    <textarea asp-for="@Model.TableroModificar.Descripcion" class="form-control" rows="3"></textarea>
                </fieldset>

                <footer class="text-center">
                    <button type="submit" class="btn btn-primary w-100 my-1"><i class="bi bi-floppy"></i> Guardar cambios</button>
                    <a asp-controller="Tareas" asp-action="Index" asp-route-idTablero="@Model.IdTablero" class="btn btn-secondary w-100 my-1"><i class="bi bi-arrow-left-circle"></i> Cancelar</a>
                </footer>
            </form>
        </section>
    </article>
</section>